.social-buttons {
  position: absolute;
  right: 1rem;
  top: 7rem;
  /* z-index: 100; */
  display: flex;
  flex-direction: column;
}
.social-buttons a {
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 60px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 4px 0;
}

.social-buttons a::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: #ffcce6; 
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3) !important;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons a:hover::before {
  transform: scale(0);
}

.social-buttons a i {
  transition: 0.3s ease-in;
}

.social-buttons a:hover i {
  background: #ffcce6;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}